<div id="nav" class="d-flex align-items-center">
  <div id="sidebar">
    <app-sidebar [changeBg]="changeBg"></app-sidebar>
  </div>
  <div id="sidebar-media">
    <app-sidebar-media></app-sidebar-media>
  </div>

  <div class="d-flex aling-items-center px-3 elements">
    <img
      src="./assets/logoNavbar.png"
      alt="menu"
      width="150px"
      height="30px"
      class="mbs-5"
    />
  </div>

  <div class="d-flex justify-content-start ciccio align-items-center ms-5">
    <div class="d-none d-lg-block">
      <app-nav-element></app-nav-element>
    </div>
  </div>
  <div></div>
</div>
