#nav {
  background-color: #ffffff;
}

.ciccio {
  width: 50vw;
  height: 7vh;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.elements {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767.98px) {
  .logo {
    height: 20%;
    width: 20%;
  }

  .menuicon {
    content: url("../../../assets/icons8-menu-50.png");
    width: 30px;
    height: 30px;
  }
}

.expandable {
  transform: translateX(-30vw);
  transition: 0.3s;
}

#expand-toggle:checked ~ * .expandable {
  transform: translateX(-4.5vw);
}
