.btn {
  height: 3.438rem;
  width: 9.688rem;
  background: inherit;
  border: solid 2px;
  border-radius: 3px;
  font-size: 18px;
  transition: 0.3s;
  font-display: center;
  white-space: nowrap;
}

.alternative_btn {
  border: solid 2px white;
  color: white;
}

.btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
  font-size: inherit;
}

@media screen and (max-width: 575.98px) {
  .btn {
    width: 90vw;
  }
}
