ng-sidebar-container {
  height: 100vh;
  position: fixed;
  top: 4vh;
  pointer-events: none;
}

#black {
  background-color: rgba(0, 0, 0, 0.713);
  width: 100vw;
  height: 100vh;
}

.sidebar {
  height: 100vh;
  width: 300px;
  position: fixed;
  overflow: scroll;
  background-color: white;
}

.sidebar-container {
  width: 300px;
}

.side-logo {
  width: 15vw;
  background-image: url("../../../assets/ea-play-16x9-png.adapt.crop1x1.767w_");
  height: 30vh;
  background-size: cover;
}

.side-logo:hover .ea-side {
  transform: scale(1.1);
}

.ea-side {
  width: 100px;
  height: 90px;
}

.container-gioco {
  margin: 1vw;
}

.open-menu {
  cursor: pointer;
  margin-left: 0.8vw;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
  border-radius: 100%;
  height: 30px;
  width: 30px;
}

hr {
  width: 90%;
  color: #000;
}

.sidebar-body {
  background-color: #fff;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.sideHead {
  height: 66px;
  background-color: rgb(235, 231, 231);
}

li:hover {
  cursor: pointer;
  color: #ff4747;
}


ul li {
  list-style: none;
}

#title {
  background-color: rgb(158, 34, 34);

}
