ng-sidebar-container {
  height: 100vh;
  position: fixed;
  top: 6%;
  pointer-events: none;
}

.sidebar {
  width: 23vw;
  background-color: rgb(235, 231, 231);
  position: fixed;
}

.sidebar-container {
  width: 300px;
}

.side-logo {
  width: 15vw;
  background-image: url("../../../assets/ea-play-16x9-png.adapt.crop1x1.767w_");
  height: 30vh;
  background-size: cover;
}

.side-logo:hover .ea-side {
  transform: scale(1.1);
}

.ea-side {
  width: 100px;
  height: 90px;
}

.container-gioco {
  margin: 1vw;
}

.open-menu {
  cursor: pointer;
  margin-left: 0.8vw;
}
