<div
  class="container-card d-flex justify-content-center align-items-center flex-wrap"
>

  <div
    id="card-container"
    class="d-flex  align-items-center flex-wrap "
  >
    <div *ngFor="let card of cards.card">
      <div id="card" class="mb-4">
        <div class="card-img">
          <img src="{{ card.imgUrl }}" width="100%" >
        </div>

        <div class="card-head">

          <div id="titleData" class="d-flex mt-3 align-item-center">
            <h3 id="data" class="mx-3 red"><b>{{ card.logoInc }}</b></h3>
            <h3><b>{{ card.data }}</b></h3>
          </div>
          <h1 class="mx-3"><b>{{card.title }}</b></h1>

        </div>

        <div class="card-body">
          <p class="pGrande">
            {{ card.text }}
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
