<div class="d-flex justify-content-center flex-row">
  <div *ngFor="let element of elements" class="mx-3 singleButton">
    <ng-template #popTitle>
      <div *ngFor="let elements of element.subtitle; index as i">
        {{ element.subtitle }}
      </div></ng-template
    >
    <ng-template class="navElement" #popComponent>
      <div *ngFor="let elements of element.element; index as i">
        <a href=""> {{ element.element[i] }}</a>
      </div>
    </ng-template>

    <button
      type="button"
      class="btn"
      [ngbPopover]="popComponent"
      triggers="mouseenter:mouseleave"
      [popoverTitle]="popTitle"
      popoverClass="custom-class"
    >
      <a href="">{{ element.title }}</a>
    </button>
  </div>
</div>
