<div class="homepage d-flex flex-column justify-content-center">
  <div class="fantasy">
    <img src="../../../assets/logosecondario.png.png" alt="" width="250px" height="90px" />
    <p>
      Non limitarti al gioco. Gioca al massimo. Sblocca ricompense esclusive, contenuti per i soli membri e una libreria
      dei migliori titoli.
    </p>
    <button>Iscriviti subito</button>
  </div>
</div>
<div class="bluebar d-flex justify-content-around align-items-center">
  <p>Genitori: il controllo dei videogiochi è nelle vostre mani.</p>
  <button>Scopri di più</button>
</div>
