#footer-one-container {
  width: 100vw;
  height: 30vh;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;

}

.links {
  width: 60%;

}

.links ul li {
  display: inline-block;
  margin-right: 35px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.icons {
  width: 18%;
  display: flex;
  flex-direction: column;
}


#icona {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icons p {
  align-self: flex-end
}

hr {
  display: none;
}

/*MEDIA */
@media screen and (max-width: 767.98px) and (min-width: 575.98px) {
  #footer-one-container {
    flex-direction: column;
    align-items: start;
  }

  .links {
    width: 90%;
  }

  .icons {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    white-space: nowrap
  }




}

@media screen and (max-width: 575.98px) {
  #footer-one-container {
    flex-direction: column;
    align-items: start;

    height: 50vh;
  }

  .links {
    width: 95%;

  }

  hr {
    align-self: center;
    display: block;
    color: black;
    width: 90%;
  }

  .icons {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    white-space: nowrap;
  }

}
