* {
  background-color: #f3f3f3;
}

.tab:hover {
  background-color: #dbdbdb;
}

.break {
  height: 1px;
  width: 100vw;
}
.tab:focus {
  border-bottom: red;
  border-style: solid;
  border-radius: 0%;
}
.btn {
  outline-color: red;
  border-radius: 0%;
}
.btn:active {
  outline-color: red;
}

.tab {
  border-right: 1px solid rgb(184, 184, 184);
}
