<div class="homepage d-flex flex-column justify-content-center">
  <div class="fantasy">
    <img src="../../../assets/f22-futfantasy-logo-xl.png.adapt.crop7x2.1920w.png" alt="" width="279px" height="129px" />
    <p>
      Nel finale di stagione, ogni prestazione è importante. Goditi un nuovo
      livello di oggetti dinamici in FIFA 22 Ultimate Team con Fanta FUT!
    </p>
  </div>
</div>
<div class="bluebar d-flex justify-content-around align-items-center">
  <p>Saldi della compagnia</p>
  <app-alternative-button>jhbjhbjhhbv</app-alternative-button>
</div>
