<div
  class="homepage d-none d-sm-flex d-md-flex d-lg-flex d-xl-flex flex-column justify-content-center"
>
  <div class="fantasy">
    <img
      src="../../../assets/resize.f22-futfantasy-logo-xl.png.adapt.png"
      class="img-m"
      alt=""
    />
    <img
      src="../../../assets/f22-futfantasy-logo-xl.png.adapt.crop7x2.1920w.png"
      class="img-l"
      alt=""
      width="279px"
      height="129px"
    />
    <p>
      Nel finale di stagione, ogni prestazione è importante. Goditi un nuovo
      livello di oggetti dinamici in FIFA 22 Ultimate Team con Fanta FUT!
    </p>
    <app-orange-button [buttonOrange]="buttontwo"></app-orange-button>
  </div>
</div>
<div class="smartphone-visual d-block d-sm-none">
  <img
    class="heroFut"
    src="../../../assets/resizef22-hero-med-futfantasy-7x2-xl.jpg.adapt.crop7x2.1920w"
    width="530px"
    alt=""
  />
  <div class="homepage-smarthpone d-flex justify-content-start ps-4">
    <img
      src="../../../assets/resize.f22-futfantasy-logo-xl.png.adapt.png"
      alt=""
    />
  </div>
  <p class="smartTest px-4">
    Nel finale di stagione, ogni prestazione è importante. Goditi un nuovo
    livello di oggetti dinamici in FIFA 22 Ultimate Team con Fanta FUT!
  </p>
</div>
<div
  class="bluebar d-none d-md-flex d-lg-flex d-xl-flex justify-content-around align-items-center"
>
  <p>Saldi della compagnia</p>
  <app-alternative-button [buttonAlternative]="button">
  </app-alternative-button>
</div>
